<div id="<%= dom_id order %>">
  <p>
    <strong> Number order:</strong>
    <%= order.number %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Contact Email:</strong>
    <%= order.email_contact %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Shipping address:</strong>
    <%= order.shipping_address %>
  </p>

</div>
